.main{
    align-items: center;
}

.btn_container{
    display: inline-flex;
    gap: 20px;
    margin-top: 30px;
}

h1 {
    align-items: center;
    margin-top: 100px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
}
button{
    background-color: rgb(103, 185, 207);
    border: none;
    color: black;
    height: 35px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}